body, input, button {
  font-family: Arial, "Microsoft YaHei", sans-serif; }

html {
  height: 100%;
  overflow: hidden; }

a, input, button {
  -webkit-transition: all .218s linear;
  -moz-transition: all .218s linear;
  transition: all .218s linear;
  outline: 0; }

body {
  position: relative;
  color: #555;
  background: url("../images/login-bg.jpg") no-repeat fixed;
  background-size: 100% 100%;
  overflow: scroll; }

a {
  text-decoration: none; }

#sign-box {
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 10%;
  display: block; }
  #sign-box .sign-footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 15px;
    color: #fff;
    border-top: 3px solid #fff; }
  #sign-box .sign-body {
    margin-top: 20px;
    /*background: rgba(0, 0, 0, 0.8);*/
    padding: 10px; }
    #sign-box .sign-body .logo-box {
      text-align: center;
      display: block; }
    #sign-box .sign-body .action-title {
      text-align: center;
      color: #fff;
      display: none; }
    #sign-box .sign-body .logo {
      width: 5em;
      display: block;
      height: 2em;
      background: url("../images/logo.png") no-repeat;
      background-size: 100% 100%;
      margin: 0 auto; }
    #sign-box .sign-body .gd-line {
      color: #fff;
      line-height: 50px;
      text-align: center; }
    #sign-box .sign-body form #submit {
      margin: 10px; }
    #sign-box .sign-body form .form-group {
      position: relative;
      height: 46px;
      line-height: 46px;
      background: #ffffff;
      margin: 0 0 20px 0;
      padding-left: 32px;
      border-radius: 3px; }
    #sign-box .sign-body form .icon {
      position: absolute;
      width: 46px;
      height: 46px;
      top: 0;
      left: 0;
      text-align: center;
      color: #cbcbcb;
      font-size: 18px; }
    #sign-box .sign-body form .form-control, #sign-box .sign-body form .form-control:focus, #sign-box .sign-body form .form-control:hover, #sign-box .sign-body form .form-control:-webkit-autofill {
      width: 100%;
      border: none;
      background: none;
      height: 46px;
      font-size: 14px;
      color: #444444;
      box-shadow: none; }
    #sign-box .sign-body .xy {
      font-weight: normal;
      max-width: 100%;
      margin-bottom: 5px; }
    #sign-box .sign-body .verify-box {
      position: relative; }
    #sign-box .sign-body .verify-img {
      right: 0;
      position: absolute;
      height: 46px;
      width: 100px;
      cursor: pointer;
      border-left: 0;
      top: 0; }

.mui-switch {
  width: 52px;
  height: 31px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; }

.mui-switch:before {
  content: '';
  width: 29px;
  height: 29px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

.mui-switch:checked {
  border-color: #36acee;
  box-shadow: #36acee 0 0 0 16px inset;
  background-color: #36acee; }

.mui-switch:checked:before {
  left: 21px; }

.mui-switch.mui-switch-animbg {
  transition: background-color ease 0.4s; }

.mui-switch.mui-switch-animbg:before {
  transition: left 0.3s; }

.mui-switch.mui-switch-animbg:checked {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: #36acee;
  transition: border-color 0.4s, background-color ease 0.4s; }

.mui-switch.mui-switch-animbg:checked:before {
  transition: left 0.3s; }

.mui-switch.mui-switch-anim {
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; }

.mui-switch.mui-switch-anim:before {
  transition: left 0.3s; }

.mui-switch.mui-switch-anim:checked {
  box-shadow: #36acee 0 0 0 16px inset;
  background-color: #36acee;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; }

.mui-switch.mui-switch-anim:checked:before {
  transition: left 0.3s; }

/*# sourceMappingURL=sign.css.map */
